@media (max-width: 901px){


:root {
    --primary-color: #D8E3F3;
    --secoundery-color: #EFFDFF;
    --accenst1-color: #201E53;
    --accent2-color: #0F1011;
    --accent4-color: #CEAD2E;

    --header:700;
    --p:400;
    
  }
  body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
  @keyframes fade{
    0%{
opacity:0 ;
    }

    100%{
        opacity: 1;
    }
}
header h1{
    text-wrap: wrap;
}

.copy-right p{
    text-wrap: wrap;
}

  .network{
    margin-bottom: 20px;
}
imgh{
    width: 100%;
}


.hero-img{
    width: 69%;
}

main{
    height:830px;
}

header{
    display: flex;
    flex: 1 1 100%;
    justify-content: space-around;
    background-color:var(--primary-color);
    height: 100px;
    text-align: center;
    align-items: center;
    color:#D4E2F1;
    margin-top: 10px;
}

.active{
    background-color: var(--accent2-color);
    
}

.hero{

    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.network{
    grid-column: 1/2;
    grid-row: 3;
    margin-left:50px ;
    margin-top: 20px;
}



.network a{
    background-color:var(--accent2-color);
    padding: 15px;
    text-decoration: none;
    color:var(--accent4-color);
    border: 2px solid  var(--accent4-color);
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    margin-right: 3px;

}


.network a:hover{
    background-color: #121212;
	color:var(--accent4-color);
	font-weight: 700;
    margin-left: 10px;
    

}


.other-links a{
    padding: 20px;
    margin: 10px;
    
}

footer{
    /* background-color: black; */
    
    height: 40vh;
    background-color: #01080F;

}


footer p{
    color: var(--secoundery-color);
    margin: 0;
}



    
    



.network a{
    background-color: #01080F;
    padding: 15px;
    text-decoration: none;
    color:var(--accent4-color);
    border: 2px solid var(--accent4-color);
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    margin-right: 3px;

}


.network a:hover{
    background-color: #121212;
	color: var(--accent4-color);
	font-weight: 700;
    margin-left: 10px;
    

}

/* footer a{
    background-color: #01080F;
    padding: 15px;
    text-decoration: none;
    color: #F1EB67;
    border: 2px solid  #F1EB67;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    margin-right: 3px;
    

} */
.top{
    position: sticky;
    top: 0;
}



footer a:hover{
    
	color:var(--accent4-color);

    

}
.social-m img{
    width: 25px;
    height: auto;
    border-radius: 5px;
}



footer{
    
    display: grid;
    grid-template-columns: auto 200px auto;
    grid-template-rows: auto auto;

}


.social-m{
    grid-row: 1;
    grid-column: 2/3;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    
}

.hero{
    /* background-color: aqua; */


    
    background-color:var(--primary-color);
    
    
}



.copy-right{
    grid-column: 1/4;
    grid-row:2 ;
    color:var(--accent2-color);
    display: flex;
    
    margin-left: auto;
    margin-right: auto;
   
}

#currentyear{
    margin-top: 3px;
    margin-left: 10px;

}


.other-links{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 3/4;
    grid-row: 1/2;

   
}

.logo-small{
    margin-left: 10px;
    margin-top: 10px;
}

.other-links a {
    font-weight: 200;
    padding: 2px;
    text-decoration: none;
    color: var(--secoundery-color);
    

}





.hero h1, p{
    text-align: center;
}

h1{
    margin:auto;
    text-wrap: wrap;
    color: var(--accent2-color);
    
}

.imglogo{
    width: 130px;
    /* height: 130px; */
    margin-left: 25px;
    
}
nav{
    background-color: var(--accenst1-color);
   
    margin-left: 0px;
    margin-top: 20px;
}
main{
    height: auto;
}

nav a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color:  var(--secoundery-color);


    
    
    

}


nav a:hover{
    background-color:var(--primary-color);
	color:var(--accent2-color);
	font-weight: 700;
    border-radius: 10px;
    opacity: 0.5;
}


}

