.root{
    --bg-color:
}


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;}

.hero img{
    width: 100%;
    height: 60%;
    
    background-color: #277ee7;
    padding-top: 15px;
    padding-bottom: 5px;
}


.img2{
    width: 100px;
    margin-left: 40%;
    margin-right: 50%;
}
form{
    background-color: aliceblue;
    width: 200px;
}



span{
    margin: 10px;
    text-align: justify;
    font:bolder;
    font-weight: 600;
}

header{
    color: #E1EBE7;
    background-color:#04152A;
    text-align: center;
    padding: 2px;
}
#wind-chill{
    font-size: small;
    font-weight: 300;
}




footer{
    color: #E1EBE7;
    background-color:#04152A;
    text-align: center;
    margin: 0%;
    padding: 5px;

}

.data{
    text-align: center;
    background-color: white;
}
.weather{
    text-align: center;
    background-color: white;
    border-top: 1px solid;
}

h3{
    font-size: 1.7rem;
}

span{
    margin-right:5px;
}


