/* mobile viwes */

*{
    box-sizing: border-box;
    
}
header{
    text-align: center;
	color: #D4E2F1;
	background-color: #073669;
	
}


nav{
	display: flex;
	flex-direction: column;
	list-style: none;
	/* background-color: #333; */
	color: #fff;
}


nav a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
nav a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

h1{
	font-size: 1.5rem;
	text-align: center;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color:#D4E2F1;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}



.open a {
	display: block;
}

.active::before { 
	content: "📍";  /* just a wayfinding symbol for the user */
}

.hom{
	text-align: center;
}
/* figure{
	text-align: center;
	padding: 0px;
	margin: 0px;
} */

footer{
    text-align: center;
    background-color:#073669;
	color: #D4E2F1;

    /* border: 1px solid black; */
}


/* img{
	width: 75%;
	height: 300px;
} */